/*this is the css file for all the template.html files in this folder*/

.brand-logo {
	margin: 5px 0 0 5px;
}

a {
	color: #f48fb1;
}

.carousel-h3, .carousel-p {
	text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
}

.tab-img {
	height: 100px;
	width: 100px!important;
	float: left;
	margin: 15px;
}

.journal-container {
	overflow: scroll;
	height: 300px!important;
	padding: 0!important;
}

.journal-entries {
	overflow: scroll;
	height: 300px!important;
}

.journal-entry-teaser-container {
	border-bottom: solid #4dd0e1 2px;
}

.tabs-content.carousel.initialized {
	height: 300px!important;
}

.resources {
	border-left: solid #4dd0e1 2px;
	border-right: solid #4dd0e1 2px;
	overflow: scroll;
}

.main-info {
	border-bottom: solid #4dd0e1 2px;
	margin-bottom: 0 !important;
}

@media (max-width: 992px) {
	.tab-container {
		border-bottom: solid #4dd0e1 2px;
	}
	.resources {
		border-right: solid #4dd0e1 2px;
	}
	.category-box {
		border-bottom: #4dd0e1 solid 2px;
	}
	.socials {
		margin-bottom: 50px;
	}
}

.rss, .tab-content, .category-box, .section {
	overflow: scroll;
}

.category-box {
	margin-top: 20px;
}

.category-box, .login, .journal-container, .journal-entries {
	border: solid 4px #f48fb1;
}

.login {
	padding: 50px!important;
	margin: 50px auto;
}

.section, .category-box {
	height: 300px!important;
}

h1, h2, h3, h4, h5, h6 {
	color: #00bcd4;
}

.profile-box {
	padding: 20px!important;
}

.profile-chat {
	margin: 10px;
}

.journal-input {
	width: 100%!important;
	height: 100%!important;
}

.comment-body {
	border-left: #fbc02d solid 2px;
	margin-left: 20px;
	padding-left: 10px;
}

.about-body {
	border-bottom: #f48fb1 solid 2px;
	padding-bottom: 25px;
}

.article-body::first-letter, .about-body::first-letter {
  color: #fbc02d ;
  float: left;
  font-size: 60px;
  line-height: 50px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 3px;
}

.mostly-human-developer {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.social-icons {
	width: 50px;
	height: 50px;
	display: inline-block;
	filter: opacity(60%);
}

.map, .resources-list {
	overflow: hidden;
	height: 450px!important;
}

.resources-list {
	overflow: scroll!important;
}

.resources-ul {
	margin: 0 40px!important;
}

.resources-row {
	margin: 50px auto;
}

/*JOURNAL STYLING*/

.textarea-container {
  position: relative;
  width: 50%;
}

textarea, .textarea-size {
  min-height: 25px;
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid;
  overflow: hidden;
  width: 100%;
}

textarea {
  height: 100%;
  position: absolute;
  resize:none;
  margin: 0;
  white-space: normal;
}

.textarea-size {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

