<!DOCTYPE html>
<html>
<head>
	<title>All Posts Page</title>
	<link rel='stylesheet' href='./test-css.css'/>
	<!-- Materialize CSS CDN -->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'/>
	<!-- Materialize Icons CDN -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	
	<!-- THIS IS THE NAV BAR, WE CAN TRANSLATE <LI>S INTO <LINK />S LATER  -->
	<nav>
	    <div class="nav-wrapper cyan lighten-2">
	      <a href="#!" class="brand-logo"><img src='./equally-logo-sm.png'/></a>
	      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
		    <li><a href="/">Home</a></li>
		    <!-- this will be log in when not logged in -->
		    <li><a href="/profile">Profile</a></li>
		    <!-- this will be sign up when not logged in -->
		    <li><a href="/auth/logout">Log Out</a></li>

		    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Navigate<i class="material-icons right">arrow_drop_down</i></a></li>
		  </ul>
	    </div>
  	</nav>
  	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="/chat">Live Chat</a></li>
	  <li class="divider"></li>
	  <li><a href="/resources">Resources</a></li>
	  <li class="divider"></li>
	  <li><a href="/blog">Blog</a></li>
	  <li class="divider"></li>
	  <li><a href="/about">About Us</a></li>
	  <li class="divider"></li>
	</ul>
	<ul class="side-nav" id="mobile-demo">
		<li><a href="/">Home</a></li>
		<!-- this will be log in when not logged in -->
		<li><a href="/profile">Profile</a></li>
		<!-- this will be sign up when not logged in -->
		<li><a href="/auth/logout">Log Out</a></li>

		<li><a href="/chat">Live Chat</a></li>
		<li><a href="/resources">Resources</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/about">About Us</a></li>
	</ul>
	<!-- END OF NAV -->

	<!-- SEARCH / FILTER -->
	<div class='row cyan darken-2'>
		<div class='col s12 m12 l8 offset-l2'>
			<h1 class='white-text blogs-title'>Blogs</h1>
			<div class="input-field col s6">
	          <i class="white-text material-icons prefix">search</i>
	          <input id="keywords" class="materialize-input"></input>
	          <label for="keywords" class='white-text'>Keywords</label>
	        </div>

			<div class="input-field col s3 white-text">
			    <select>
					<option value="" disabled selected>Choose your option</option>
					<option value="1">LGBTQIA+</option>
					<option value="2">Mental Health</option>
					<option value="3">Opinions</option>
					<option value="3">Events</option>
			    </select>
			    <label class='white-text'>Pick a category: </label>	
			</div>

			<div class='input-field col s3'>
				<button class="btn waves-effect waves-light yellow darken-2" type="submit" name="action">Search
			    	<i class="material-icons right">search</i>
				</button>
			</div>
		</div>
	</div>
	<!-- END OF SEARCH/FILTER -->

	<!-- START OF CATEGORY SECTIONS -->
	<div class='row'>
		<div class='col s12 m8 l4 offset-m2 offset-l1 category-box'>
			<a href='#'><h5>LGBTQIA+ News</h5></a>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>

		</div>
		<div class='col s12 m8 l4 offset-m2 offset-l1 category-box'>
			<a href='#'><h5>Mental Health News</h5></a>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col s12 m8 l4 offset-m2 offset-l1 category-box'>
			<a href='#'><h5>Opinion Articles</h5></a>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
		</div>
		<div class='col s12 m8 l4 offset-m2 offset-l1 category-box'>
			<a href='#'><h5>Events Articles</h5></a>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class='col s12 article-preview'>
				<i class='yellow-text text-darken-2 material-icons medium left'>description</i><p class='article-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
		</div>
	</div>
	<!-- END OF CATEGORY SECTIONS -->


	<!-- START OF FOOTER -->
 	 <footer class="page-footer cyan lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Terms of Service</h5>
            <p class="grey-text text-lighten-4">Please read our terms of service <a href='http://www.chilis.com'>here</a> and be a decent human being and treat others with respect. Why is this so hard for some people oh my god?</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Navigation</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#">Top of Page</a></li>
              <li><a class="grey-text text-lighten-3" href="/profile">Profile</a></li>
              <li><a class="grey-text text-lighten-3" href="/resources">Resources</a></li>
              <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
              <li><a class="grey-text text-lighten-3" href="/auth/logout">Log Out</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <!-- END OF FOOTER -->

	<!-- jQuery Minified CDN -->
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<!-- Materialize JS CDN -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'></script>
	<script src='./template.js'></script>
</body>
</html>