<!DOCTYPE html>
<html>
<head>
	<title>Single Post Page</title>
	<link rel='stylesheet' href='./test-css.css'/>
	<!-- Materialize CSS CDN -->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'/>
	<!-- Materialize Icons CDN -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	
	<!-- THIS IS THE NAV BAR, WE CAN TRANSLATE <LI>S INTO <LINK />S LATER  -->
	<nav>
	    <div class="nav-wrapper cyan lighten-2">
	      <a href="#!" class="brand-logo"><img src='./equally-logo-sm.png'/></a>
	      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
		    <li><a href="/">Home</a></li>
		    <!-- this will be log in when not logged in -->
		    <li><a href="/profile">Profile</a></li>
		    <!-- this will be sign up when not logged in -->
		    <li><a href="/auth/logout">Log Out</a></li>

		    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Navigate<i class="material-icons right">arrow_drop_down</i></a></li>
		  </ul>
	    </div>
  	</nav>
  	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="/chat">Live Chat</a></li>
	  <li class="divider"></li>
	  <li><a href="/resources">Resources</a></li>
	  <li class="divider"></li>
	  <li><a href="/blog">Blog</a></li>
	  <li class="divider"></li>
	  <li><a href="/about">About Us</a></li>
	  <li class="divider"></li>
	</ul>
	<ul class="side-nav" id="mobile-demo">
		<li><a href="/">Home</a></li>
		<!-- this will be log in when not logged in -->
		<li><a href="/profile">Profile</a></li>
		<!-- this will be sign up when not logged in -->
		<li><a href="/auth/logout">Log Out</a></li>

		<li><a href="/chat">Live Chat</a></li>
		<li><a href="/resources">Resources</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/about">About Us</a></li>
	</ul>
	<!-- END OF NAV -->

	<!-- START OF ARTICLE -->
	<div class='row'>
		<div class='col s12 m8 offset-m2'>
			<h2>Article Title</h2>
			<p>by <a class='pink-text text-lighten-3' href='#'>Author Name</a></p>
			<br>
			<p class='article-body col s12 m10 offset-m1'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	<!-- END OF ARTICLE -->

	<!-- START OF COMMENTS SECTION -->
	<div class='row'>
		<div class='col s12 m8 offset-m2'>
			<h4>Comments</h4>
			<div class='col s12 m8 l8'>
				<a class='pink-text text-lighten-3' href='#'>username</a>
				<p class='comment-body'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
			</div>
			<div class='col s12 m8 l8'>
				<a class='pink-text text-lighten-3' href='#'>username</a>
				<p class='comment-body'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="input-field col s12 m4 l4 offset-m2 offset-l2">
          <i class="material-icons prefix cyan-text text-lighten-2">create</i>
          <textarea id="comment" type="text" class="materialize-textarea"></textarea>
          <label for="comment">Enter your comment here...</label>
        </div>
	</div>
	<div class='row'>
		<button class="btn waves-effect waves-light col s12 m2 l2 offset-m3 offset-l3 yellow darken-2" type="submit" name="action">Add Comment</button>
	</div>
	<!-- END OF COMMENTS SECTION -->


	<!-- START OF FOOTER -->
 	 <footer class="page-footer cyan lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Terms of Service</h5>
            <p class="grey-text text-lighten-4">Please read our terms of service <a href='http://www.chilis.com'>here</a> and be a decent human being and treat others with respect. Why is this so hard for some people oh my god?</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Navigation</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#">Top of Page</a></li>
              <li><a class="grey-text text-lighten-3" href="/profile">Profile</a></li>
              <li><a class="grey-text text-lighten-3" href="/resources">Resources</a></li>
              <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
              <li><a class="grey-text text-lighten-3" href="/auth/logout">Log Out</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <!-- END OF FOOTER -->

	<!-- jQuery Minified CDN -->
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<!-- Materialize JS CDN -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'></script>
	<script src='./template.js'></script>
</body>
</html>